<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <p><a href='/home/index'>List of students</a></p>
        <p><a href='/home/index/new'>Add new student</a></p>

      </li>
    </ul>
  </nav>

  <%= yield %>

</body>
</html>
