<form  action="/home/index" method="post">
  <label for="first-name">First Name:</label>
  <input id="first-name" type="text" name="first_name"  />
  <br>
  <label for="last-name">Last Name:</label>
  <input id="last-name" type="text" name="last_name" />
  <br>
  <label for="age">Age:</label>
  <input id="age" type="number" name="age" />

  <label for="house">Choose a House:</label>
  <select id="house" name="house">
    <option value="Gryffindor">Gryffindor</option>
    <option value="Ravenclaw">Ravenclaw</option>
    <option value="Hufflepuff">Hufflepuff</option>
    <option value="Slytherin">Slytherin</option>

    <br>
  </select>
  <input type="submit"  value="Add Student">
</form>
